{% extends "page_src/template/main.html" %}

{% block content %}

{% include "page_src/header.html" %}

{% include "page_src/template/quickcontact.html" %}

<div class="container-fluid">
<div class="stripcontainer" style="background-color:grey;">
	<h1 class="contact-heading text-center">Contact us</h1>
	<form class="contact-form" method='post'>
		{% csrf_token %}
		<div class="textfields">
			<span class="far fa-envelope" aria-hidden="true"></span>
			{{ form.email }}
		</div>
		<div class="textfields">
			<span class="fa fa-user" aria-hidden="true"></span>	
			{{ form.name }}
		</div>
		<div class="textfields">
			<span class="fa fa-user" aria-hidden="true"></span>
			{{ form.subject }}
		</div>	
		<div class="textfields">
			{{ form.body }}
		</div>
		<div class="textfields text-center" style="border-bottom: 5px solid #4caf50;">
			<button type="submit">send</button>
		</div>
	</form>
</div>	
</div>
{% endblock %}
